/* 모바일 ver */
@media screen and (min-width: 320px) and (max-width: 1600px) {
  /* 헤더 컨텐츠 영역 공통설정 */
  .con {
    width: 85%;
  }
  header > .con {
    gap: 0;
    justify-content: space-between;
  }

  /* 로고 */
  h1 {
    width: 80px;
  }

  /* 메뉴 */
  #gnb {
    display: none;
  }

  /* 로그인, 전체메뉴 */
  .icons {
    gap: 10px;
  }

  /* 메인이미지 텍스트 부분 */
  .main_visual_text {
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -112px);
  }
  .main_visual_text h2 {
    /* font-size: 12vw; */
    font-size: clamp(32px, 10vw, 40px);
    color: #fff;
    /* 텍스트를 라인처리하기(스트로크) */
    /* -webkit-text-stroke: 1px #19163c;
    -moz-text-stroke: 1px #19163c;
    -o-text-stroke: 1px #19163c; */
  }
  .main_visual_text p {
    font-size: 4.7vw;
    line-height: 1.7;
  }
  .woman {
    display: none;
  }

  /* 메인 2번째 섹션 (what we do) */

  .sec2 .left_text {
    width: 100%;
    /* background-color: yellow; */
  }
  .right_image {
    display: none;
  }
  .left_text p + button {
    width: clamp(280px, 100%, 400px);
  }
  .left_text p {
    font-size: clamp(18px, 10vw, 20px);
    line-height: 1.7;
  }

  /* 메인 3번째 섹션 */
  .cards {
    justify-content: center;
  }
  .sec3 > .con > h2 {
    font-size: clamp(38px, 10vw, 42px);
  }
  .sec3 > .con > h2 + p {
    font-size: clamp(18px, 10vw, 20px);
  }

  /* 메인 4번째 섹션 */
  .sec4 > .con > h2 {
    font-size: clamp(38px, 10vw, 42px);
  }
  .sec4 > .con > h2 + p {
    font-size: clamp(18px, 10vw, 20px);
    line-height: 1.5;
  }
  .sec4 > .con > h2 + p br {
    display: none;
  }
  .app_btn {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .app_btn button {
    width: 100%;
    justify-content: center;
  }

  /* 메인 5번째 섹션 */
  .sec5 .con {
    display: block;
  }
  .form_left {
    width: 100%;
    margin-bottom: 80px;
  }
  .form_left h2 {
    font-size: clamp(38px, 10vw, 42px);
    font-weight: 700;
  }
  .form_left h2 + p {
    font-size: clamp(18px, 10vw, 20px);
  }
  .form_left h2 + p br {
    display: none;
  }

  /* form */
  .con form {
    width: 100%;
    padding: 50px 0;
  }
  .con form > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 30px;
  }
  .con form > div > input {
    width: 100%;
  }
  .con form > div > textarea {
    width: 100%;
  }
  /* 임시로 안보이게 */
  /* footer {
    display: none;
  } */
}

/* 작은 테블릿 ver */
@media screen and (min-width: 740px) and (max-width: 1600px) {
  /* 메인 4번째 섹션 */
  .app_btn button {
    width: fit-content;
  }
}

/* 일반 테블릿 ver */
@media screen and (min-width: 860px) and (max-width: 1600px) {
  .main_visual_text {
    width: 60%;
  }
  .main_visual_text h2 {
    font-size: clamp(32px, 10vw, 40px);
  }
  .main_visual_text p {
    font-size: 30px;
    line-height: 1.5;
  }

  /* 메인 3번째 섹션 */
  .cards {
    justify-content: space-between;
  }
  .cards > div {
    width: 48%;
  }
  .img_area .floor {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: bottom;
  }

  /* 메인 4번째 섹션 */
  .sec4 > .con > h2 + p br {
    display: block;
  }
}

/* 노트북 ver */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .con {
    width: 90%;
  }
  header > .con {
    gap: 100px;
  }
  #gnb {
    display: block;
  }
  .main_visual_text {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .main_visual_text h2 {
    font-size: 50px;
    border-bottom: 1px solid #fff;
    color: #f50057;
  }

  /* 이미지 위치+애니메이션 */
  .man {
    transform: scale(0.6);
    transform-origin: left;
  }
  .woman {
    display: block;
    transform: scale(0.7);
    transform-origin: right;
  }

  /* 메인 2번째 섹션 (what we do) */
  .sec2 .left_text {
    width: fit-content;
  }
  .right_image {
    display: block;
    transform: scale(0.8);
    transform-origin: right;
  }
  .sec2 > .con {
    justify-content: space-around;
  }
  /* 메인 5번째 섹션 */
  /* .sec5 .con {
    display: flex;
  }
  .form_left h2 + p br {
    display: block;
  }
  .form_left {
    width: fit-content;
    margin-bottom: 0;
    text-align: left;
  }
  .form_left h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .form_left h2 + p {
    font-size: 26px;
    line-height: 1.4;
    font-weight: 100;
  }
  .con form {
    width: 60%;
    padding: 50px 40px;
  }
  .con form > div {
    flex-direction: row;
  }
  .con form > div > input {
    width: 80%;
  }
  .con form > div > textarea {
    width: 80%;
  } */
}
