/* 모바일 ver */
@media screen and (min-width: 320px) and (max-width: 1600px) {
  /* 헤더 컨텐츠 영역 공통설정 */
  .con {
    width: 85%;
  }
  header > .con {
    gap: 0;
    justify-content: space-between;
  }

  /* 로고 */
  h1 {
    width: 80px;
  }

  /* 메뉴 */
  #gnb {
    display: none;
  }

  /* 로그인, 전체메뉴 */
  .icons {
    gap: 10px;
  }

  .main_visaul {
    height: clamp(600px, 700px, 850px);
  }
  /* 메인이미지 텍스트 부분 */
  .main_visual_text {
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -112px);
  }
  .main_visual_text h2 {
    font-size: clamp(32px, 10vw, 40px);
    color: #fff;
  }
  .main_visual_text p {
    font-size: 4.7vw;
    line-height: 1.7;
  }

  /* 메인 2번째 섹션 (what we do) */
  .sec2 {
    height: clamp(600px, 660px, 800px);
  }
  .left_text p + button {
    width: clamp(280px, 100%, 400px);
  }
  .left_text p {
    font-size: clamp(18px, 10vw, 20px);
    line-height: 1.7;
  }

  /* 메인 3번째 섹션 */
  .sec3 {
    padding: 170px 0;
  }
  .cards {
    justify-content: center;
  }
  .sec3 > .con > h2 {
    font-size: clamp(38px, 10vw, 42px);
  }
  .sec3 > .con > h2 + p {
    font-size: clamp(18px, 10vw, 20px);
  }

  /* 메인 4번째 섹션 */
  .sec4 {
    padding: 170px 0;
  }
  .sec4 > .con > h2 {
    font-size: clamp(38px, 10vw, 42px);
  }
  .sec4 > .con > h2 + p {
    font-size: clamp(18px, 10vw, 20px);
    line-height: 1.5;
  }
  .sec4 > .con > h2 + p br {
    display: none;
  }
  .app_btn {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .app_btn button {
    width: 100%;
    justify-content: center;
  }

  /* 메인 5번째 섹션 */
  .sec5 {
    padding: 170px 0;
  }
  .sec5 .con {
    display: block;
  }
  .form_left {
    width: 100%;
    margin-bottom: 80px;
  }
  .form_left h2 {
    font-size: clamp(38px, 10vw, 42px);
    font-weight: 700;
  }
  .form_left h2 + p {
    font-size: clamp(18px, 10vw, 20px);
  }
  .form_left h2 + p br {
    display: none;
  }

  /* form */
  .con form {
    width: 100%;
    padding: 50px 0;
  }
  .con form > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 30px;
  }
  .con form > div > input {
    width: 100%;
  }
  .con form > div > textarea {
    width: 100%;
  }
}

/* 작은 테블릿 ver */
@media screen and (min-width: 740px) and (max-width: 1600px) {
  /* 메인 4번째 섹션 */
  .app_btn button {
    width: fit-content;
  }
}

/* 일반 테블릿 ver */
@media screen and (min-width: 860px) and (max-width: 1600px) {
  .main_visual_text {
    width: 60%;
  }
  .main_visual_text h2 {
    font-size: clamp(32px, 10vw, 40px);
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .main_visual_text p {
    font-size: 30px;
    line-height: 1.5;
  }

  /* 메인 3번째 섹션 */
  .cards {
    justify-content: space-between;
    gap: 40px;
  }
  .cards > div {
    width: 48%;
    margin: 0 auto;
  }
  .img_area .floor {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: bottom;
  }
  .right_image {
    width: fit-content;
  }
}
/* 메인 4번째 섹션 */
.sec4 > .con > h2 + p br {
  display: block;
}

@media screen and (max-width: 950px) {
  .main_visual_text p {
    font-size: 3vw;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1000px) {
  .right_image {
    display: none;
  }
  .left_text h3,
  .left_text p,
  .left_text p + button {
    text-align: center;
  }
  .left_text h3::after {
    margin: 0 auto;
  }
  .cards {
    margin: 0 auto;
  }
  .sec2 > .con {
    justify-content: center;
  }
  .cards > div:not(:last-of-type) {
    margin-bottom: 70px;
  }
}

/* 노트북 ver */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .con {
    width: 90%;
  }
  header > .con {
    gap: 100px;
  }
  #gnb {
    display: block;
  }
  .main_visual_text {
    width: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
  }
  .main_visual_text h2 {
    font-size: 50px;
    border-bottom: 1px solid #fff;
    color: #fff;
  }

  /* 메인 2번째 섹션 (what we do) */
  .sec2 .left_text {
    width: fit-content;
  }
  .right_image {
    display: block;
    transform: scale(0.8);
    transform-origin: right;
    width: fit-content;
  }
  .sec2 > .con {
    justify-content: space-around;
  }
}
